<div *ngIf="data" class="container max-w-screen-sm mx-auto">
  <header>
    <div
      class="
        text-center
        font-cormorant-garamond
        pt-6
        text-3xl text-beige
        flex-col
      "
    >
      <countdown
        *ngIf="!isDDay && data.date"
        [config]="countDownConfigDays"
      ></countdown>
      <br />
      <countdown
        *ngIf="!isDDay && data.date"
        [config]="countDownConfig"
      ></countdown>
    </div>
    <nav>
      <ul class="flex space-x-4 pt-6 px-6">
        <li class="flex-1 text-center font-cormorant-garamond hover:underline">
          <a href="#details">Event Details</a>
        </li>
        <li class="flex-1 text-center font-cormorant-garamond hover:underline">
          <a [attr.href]="data.directions">Directions</a>
        </li>
        <li class="flex-1 text-center font-cormorant-garamond hover:underline">
          <a [attr.href]="data.livestream">Livestream</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="fade-in-slow">
      <div class="relative flex justify-center items-center pt-8">
        <div
          id="title1"
          class="
            absolute
            text-left
            font-great-vibes
            py-8
            text-3xl
            z-10
            -mb-24
            text-white
            max-w-xs
          "
          style="top: calc(13% - 10px)"
          [innerHTML]="data.header"
        ></div>
        <div
          id="title2"
          class="
            absolute
            text-left
            font-cormorant-garamond
            py-8
            text-lg
            z-10
            -mb-24
            text-white
            max-w-xs
          "
          style="top: calc(18%)"
          [innerHTML]="data.subheader"
        ></div>
        <div class="max-w-xs">
          <img src="assets/4.jpg" alt="" />
        </div>
      </div>
      <!-- date and time -->
      <div class="fade-in-slow px-10 text-center">
        <div class="font-cormorant-garamond text-base pt-11 tracking-widest">
          <div class="">&centerdot; DATE &centerdot;</div>
        </div>
        <div
          class="font-cormorant-garamond text-xl pt-3"
          [innerHTML]="data.dateDetail"
        ></div>
      </div>
      <!-- venue -->
      <div class="fade-in-slow px-10 text-center">
        <div class="font-cormorant-garamond text-base pt-11 tracking-widest">
          <div class="">&centerdot; VENUE &centerdot;</div>
        </div>
        <div
          class="font-cormorant-garamond text-xl pt-3"
          [innerHTML]="data.venue"
        ></div>
        <div class="font-cormorant-garamond pt-2 text-xl text-beige underline">
          <a [attr.href]="data.directions">Get Directions</a>
        </div>
      </div>
    </section>
    <section id="details" class="fade-in-slow px-10 pt-11 text-center">
      <div class="font-cormorant-garamond text-base tracking-widest">
        &centerdot; SCHEDULE &centerdot;
      </div>
      <div class="" *ngFor="let item of schedule">
        <div class="pt-3 grid grid-cols-3 gap-4">
          <div class="font-cormorant-garamond text-xl text-right">
            {{ item.time }}
          </div>
          <div class="col-span-2 text-left">
            <div class="font-cormorant-garamond text-xl">
              {{ item.name }}
            </div>
            <div
              *ngIf="item.detail"
              class="font-cormorant-garamond text-lg pt-2 italic"
            >
              {{ item.detail }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fade-in-slow px-10 pb-8">
      <!-- <div class="font-cormorant-garamond text-2xl pt-8">
        RSVP
      </div> -->

      <div class="relative flex justify-center items-center pt-8">
        <div
          class="
            absolute
            text-center
            font-cormorant-garamond
            py-8
            text-3xl
            z-10
            -mb-24
            text-white text-shadow-md
          "
          style="top: calc(80% - 20px)"
        >
          <!-- image -->
          RSVP
        </div>
        <div class="max-w-xs">
          <img src="assets/2.jpg" alt="" />
        </div>
      </div>
      <div>
        <form
          ngNoForm
          action="https://api.staticforms.xyz/submit"
          method="post"
        >
          <!-- Replace with accesKey sent to your email -->
          <input
            type="hidden"
            name="accessKey"
            [attr.value]="data.staticFormToken"
          />
          <input
            type="hidden"
            name="subject"
            value="{{
              type === 'adinah'
                ? '04 December Wedding RSVP'
                : '05 December Wedding RSVP'
            }}"
          />
          <div class="pt-4">
            <label
              for="name"
              class="block text-base font-medium font-cormorant-garamond"
              >Full Name</label
            >
            <div class="mt-1 relative rounded-md shadow-sm">
              <input
                type="text"
                name="name"
                id="name"
                class="
                  focus:ring-indigo-500 focus:border-indigo-500
                  block
                  w-full
                  sm:text-sm
                  border-gray-300
                  rounded-md
                "
              />
            </div>
          </div>
          <div class="pt-4">
            <label
              for="phone"
              class="block text-base font-medium font-cormorant-garamond"
              >Contact Number</label
            >
            <div class="mt-1 relative rounded-md shadow-sm">
              <input
                type="tel"
                name="phone"
                id="phone"
                class="
                  focus:ring-indigo-500 focus:border-indigo-500
                  block
                  w-full
                  sm:text-sm
                  border-gray-300
                  rounded-md
                "
              />
            </div>
          </div>
          <div class="pt-4">
            <label
              for="email"
              class="block text-base font-medium font-cormorant-garamond"
              >Email</label
            >
            <div class="mt-1 relative rounded-md shadow-sm">
              <input
                type="email"
                name="email"
                id="email"
                class="
                  focus:ring-indigo-500 focus:border-indigo-500
                  block
                  w-full
                  sm:text-sm
                  border-gray-300
                  rounded-md
                "
              />
            </div>
          </div>
          <div class="pt-2">
            <label
              for="vaccinated"
              class="font-cormorant-garamond block text-base font-medium"
              >Vaccination Status</label
            >
            <select
              [(ngModel)]="vaccinated"
              id="vaccinated"
              name="vaccinated"
              class="
                font-cormorant-garamond
                mt-1
                block
                w-full
                py-2
                px-3
                border border-gray-300
                bg-white
                rounded-md
                shadow-sm
                focus:outline-none focus:ring-indigo-500 focus:border-indigo-500
                sm:text-sm
              "
            >
              <option [ngValue]="'fully'">Full vaccinated</option>
              <option [ngValue]="'partial'">Partially vaccinated</option>
              <option [ngValue]="'unvaccinated'">Not vaccinated</option>
            </select>
          </div>
          <input
            type="hidden"
            id="$vaccination_status"
            name="$vaccination_status"
            value="{{ vaccinated }}"
          />
          <div class="pt-4">
            <fieldset>
              <div>
                <legend class="text-base font-cormorant-garamond text-gray-900">
                  Will you be attending?
                </legend>
              </div>
              <div class="mt-4 space-y-4">
                <div class="flex items-center">
                  <input
                    id="yes"
                    name="$attending"
                    type="radio"
                    class="
                      focus:ring-indigo-500
                      h-4
                      w-4
                      text-indigo-600
                      border-gray-300
                    "
                  />
                  <label
                    for="yes"
                    class="
                      ml-3
                      block
                      text-sm
                      font-cormorant-garamond
                      text-gray-700
                    "
                  >
                    Yes
                  </label>
                </div>
                <div class="flex items-center">
                  <input
                    id="no"
                    name="$attending"
                    type="radio"
                    class="
                      focus:ring-indigo-500
                      h-4
                      w-4
                      text-indigo-600
                      border-gray-300
                    "
                  />
                  <label
                    for="no"
                    class="
                      ml-3
                      block
                      text-sm
                      font-cormorant-garamond
                      text-gray-700
                    "
                  >
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="pt-4">
            <div
              class="
                p-5
                rounded-lg
                border border-gray-400
                bg-gray-100
                text-gray-900
                divide-y-2 divide-solid divide-gray-400
              "
            >
            <div class="flex">
              <span class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                   <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
             </span>
             <h2 class="font-bold font-cormorant-garamond text-xl pb-2">Disclaimer</h2>
            </div>
              <p class="pt-2 font-medium font-cormorant-garamond ">
                {{ data.disclaimer }}
              </p>
            </div>
          </div>
          <div class="pt-2">
            <input
              value="Submit"
              type="submit"
              class="
                font-cormorant-garamond
                group
                relative
                w-full
                flex
                justify-center
                py-2
                px-4
                border border-transparent
                text-base
                font-medium
                rounded-md
                text-white
                bg-beige
                hover:bg-gray-700
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-gray-500
              "
            />
          </div>
          <input
            type="hidden"
            name="redirectTo"
            value="http://thesharminandsyafiqwedding.com/success"
          />
        </form>
      </div>
    </section>
  </main>
</div>
